<section id="portfolio" data-route="#portfolio" class="portfolio div-scroll-observer">
    <div class="container">
        <div class="section-title">
            <h2>{{ i18n "portfolio" }} <a class="js-toggle" data-container="portfolio-toggle" href="#"><i class="bx bxs-up-arrow-square dropdown-btn"></i></a></h2>
        </div>
        <div id="portfolio-toggle" class="row">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-filters">
                        <li data-filter="*" class="filter-active">{{ i18n "all" }}</li>
                        <li data-filter=".filter-games">{{ i18n "games" }}</li>
                        <li data-filter=".filter-engineering">{{ i18n "engineering" }}</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                {{ range where .Site.RegularPages "Section" "portfolio" }}
                    {{ $gallery := .Params.gallery }}
                    {{ range .Params.images }}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ .filter }}">
                            <div class="portfolio-wrap">
                                <img src="{{ .image }}" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="{{ .image }}" data-gallery="{{ $gallery }}" class="portfolio-lightbox" title="{{ .title }}">
                                        <i class="bx bx-plus"></i>
                                    </a>
                                    <a href="{{ .link }}" target="_blank" title="{{ .title }}">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>