<div class="col-lg-6">
    <h3 class="resume-title">{{ i18n "education" }}</h3>
    {{ range where .Site.RegularPages "Section" "education" }}
        <div class="resume-item">
            <h4>{{ .Params.title }}</h4>
            <h5>{{ .Params.studyTime }}</h5>
            <p>
                <em><a href="{{ .Params.schoolLink }}" target="_blank">{{ .Params.school }}</a></em>
            </p>
            <p class="text-center">
                <img src="{{ .Params.schoolLogo }}" width="200">
            </p>
            <p>{{ .Content }}</p>
        </div>
    {{ end }}
</div>