<div class="col-lg-6">
    <h3 class="resume-title">{{ i18n "profissionalExp" }}</h3>

    {{ $pages := where .Site.RegularPages "Section" "resume" }}
    {{ $sortedPages := sort $pages ".Params.index" "asc" }}
    {{ range $sortedPages }}
        <div class="resume-item">
            <h4>{{ .Params.title }}</h4>
            <h5>{{ .Params.workTime }}</h5>
            {{ if .Params.company }}
                <p>
                    <i>{{ .Params.location }} {{ i18n "at" }} 
                        <a href="{{ .Params.companyLink }}" target="_blank">{{ .Params.company }}</a>
                    </i>
                </p>
                <p class="text-center">
                    <img src="{{ .Params.companyLogo }}" width="300">
                </p>
            {{ end }}
            <p>{{ .Content }}</p>
            {{ if .Params.showcase }}
                <p class="text-center">
                    <a href="#" onclick="openShowcase('{{ .Params.showcase }}');return false;">
                        <button type="button" class="btn btn-primary">
                            <i class="bx bxs-slideshow"></i> {{ i18n "gallery" }}
                        </button>
                    </a>
                </p>
            {{ end }}
            {{ if .Params.games }}
                {{ $numGames := len .Params.games }}
                <h3>
                    {{ if eq $numGames 1 }}
                        {{ i18n "game" }}
                    {{ else }}
                        {{ i18n "games" }}
                    {{ end }}
                </h3>
                <ul>
                    {{ range .Params.games }}
                        <li><a target="_blank" href="{{ .link }}">{{ .name }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
            <div class="tech-infos">
                {{ if .Params.techInfoDescription }}
                    {{ .Params.techInfoDescription }}
                {{ end }}
                {{ if .Params.techInfoList }}
                    <h3>{{ i18n "technologies" }}</h3>
                    <ul>
                        {{ range .Params.techInfoList }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>
    {{ end }}
</div>
