<section id="skills" data-route="#skills" class="skills section-bg div-scroll-observer tech-infos">
    <div class="container">
        <div class="section-title">
            <h2>{{ i18n "skillsTitle" }} <a class="js-toggle" data-container="skills-toggle" href="#"><i class="bx bxs-up-arrow-square dropdown-btn"></i></a></h2>
        </div>
        <div  id="skills-toggle" class="row  skills-content">
            <p> {{ i18n "skillsMainStacks" }} {{ i18n "at" }} JavaScript {{ i18n "and" }} TypeScript. <br> 
                {{ i18n "skillsSecondaryStacks" }}: PHP, C#, Python, C++, C e Delphi. </p>
            <p> {{ i18n "skillsMainFrameworks" }}: VueJS, ReactJS, NextJS, NuxtJS, NestJS, strapi {{ i18n "and" }} PhaserJS.<br> 
                {{ i18n "skillsSecondaryFrameworks" }}: ExpressJS, Sequelize, Mongoose, JWT, axios, jQuery, Bootstrap, Materialize, redux, rxjs, SocketIO, colyseus, web3.js, Cordova, Wordpress, Laravel, Prisma, TypeORM {{ i18n "and" }} etc. <br>
            </p>
            <p> {{ i18n "skillsSecondaryGamesTools" }}: Unity, Godot, Unreal, RPG Maker, ThreeJS, BabylonJS, Construct, GDevelop. </p>
            <p> {{ i18n "skillsDatabases" }}: MySQL, PostgreSQL, MariaDB, MongoDB, Redis {{ i18n "and" }} RethinkDB. </p>
            <p> Cloud: Digital Ocean, Heroku e Render. </p>
            <p style="font-style: italic;font-weight: 300;">{{ i18n "skillsStudying" }}: Dart, Flutter, React Native, Laravel.</p>
            <div class="col-lg-6">
                <div class="progress">
                    <span class="skill">HTML, CSS, JavaScript {{ i18n "and" }} TypeScript</span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Node.js</span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Vue.JS, ReactJS, NestJS, NuxtJS {{ i18n "and" }} strapi</span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="progress">
                    <span class="skill">PHP</span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">PostgreSQL, MySQL, MariaDB, MongoDB, Redis {{ i18n "and" }} RethinkDB</span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">PhaserJS {{ i18n "and" }} Pixi.js</span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>