{{ define "main" }}
    <main id="main">
        {{ partial "sections/about" . }}
        {{ partial "sections/skills" . }}
        <div class="container">
            <section id="resume" data-route="#resume" class="resume div-scroll-observer">
                <div class="section-title">
                    <h2>{{ i18n "resume" }} <a class="js-toggle" data-container="resume-toggle" href="#"><i class="bx bxs-up-arrow-square dropdown-btn"></i></a></h2>
                </div>
                <div id="resume-toggle" class="row">
                {{ partial "sections/education" . }}
                {{ partial "sections/experience" . }}
                </div>
            </section>
        </div>
        {{ partial "sections/projects" . }}
        {{ partial "sections/portfolio" . }}
        {{ partial "sections/contact" . }}
    </main>
{{ end }}